.button {
  background: none;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;

  &.primary {
    background-color: #672FD9;
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: #AAABC4;
    border: 1px solid #AAABC4;
  }
}