.form {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 24px;
  margin-top: 40px;
  border-top: 1px solid #F1F0F3;

  input, textarea {
    border: none;
    background: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    outline: none;
  }

  input[name="title"] {
    font-size: 16px;
    line-height: 22px;
  }
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.bottomInputs {
  display: flex;
  align-items: center;
}

.buttonHolder {
  display: flex;
  align-items: center;
  gap: 16px;
}