.ticketCardHolder {
    display: flex;
    width: 320px;
    height: 320px;
    flex-direction: column;
    border: 1px solid #202124;
    

    .badgeHolder {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

  
}