.calcHolder {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  row-gap: 20px;
  height: 100%;
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  border: 2px solid black;

}
